body{
    font-family: 'Helvetica';
}

.navbar-style{
    align-items: flex-end;
}

.judul-web{
    font-weight: 700;
}

nav{
    padding: 10px;
    background-color: #F1F3FF;
    width: 100%;
}



#main{
    background-color: #F1F3FF;
}

#our-services{
    background-color: white;
}

#register{
    width: 100px;
    text-align: center;
}

#greeting{
    padding: 100px;
    background-color: #F1F3FF;
    position: relative;
}

#services-list{
    padding: 50px;
    background-color: white;
}

#sewa-lokasi{
    margin: 10vh;
    height: 20rem;
    background-color: #0D28A6;
}

ul{
    list-style-image: url(./assets/check.png);
}

li{
    padding-left: 10px;
    top: 0%;
}

.row.col-sm-3{
    padding: 10px;
}

#question{
    margin: 10vh;
}

#bottom-page{
    margin: 10vh;
}

.container-style{
    align-self: center;
}

.carousel-inner{
    background-color: #F1F3FF; 
    justify-content: center; 
    height: 50vh;
    align-content: center;
    padding-top: 50px;
}

.carousel-image{
    width: 10vw;
}

.carousel-person{
    text-align: end;
}

.car-img{
    position: absolute; 
    right: 0; 
    bottom: 0; 
    width: 100%;
}

.car-div{
    position: relative;
}

.why{
    padding-left: 20px; padding-top: 20px; padding-bottom: 20px;
}

@media (max-width: 992px){
    #greeting{
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 100px;
        padding-bottom: 100px;
        background-color: #F1F3FF;
    }

    #why-us{
        justify-content: center;
        text-align: center;
    }

    .navbar-style{
        align-items: flex-start;
    }

    .card-style{
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .carousel-person{
        text-align: center;
    }

    .carousel-inner{
        background-color: #F1F3FF; 
        justify-content: center; 
        height: 50vh;
        align-content: center;
        padding-top: 50px;
    }

    .carousel-content{
        margin: 5px;
    }

    .carousel-image{
        width: 20vw;
    }

    #question{
        margin: 5vh;
    }
    
    #bottom-page{
        margin: 5vh;
    }

    #sewa-lokasi{
        margin: 5vh;
        height: 20rem;
        background-color: #0D28A6;
    }

}