html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Helvetica';
}

.navbar-style{
    align-items: flex-end;
}

.judul-web{
    font-weight: 700;
}

.best-rental{
    font-weight: 700;
    padding-bottom: 10px;
}

nav{
    padding: 10px;
    background-color: #F1F3FF;
    width: 100%;
}

.nav-item{
    padding-right: 5px;
    padding-left: 5px;
    font-weight: 500;
}

#main{
    background-color: #F1F3FF;
}

#our-services{
    background-color: white;
}

#register{
    width: 100px;
    text-align: center;
}

#greeting{
    padding: 100px;
    background-color: #F1F3FF;
    position: relative;
}

#services-list{
    padding: 50px;
    background-color: white;
}

#sewa-lokasi{
    margin-top: 15vh;
    height: 20rem;
    background-color: #0D28A6;
    justify-content: center;
}

.ul-edit{
    list-style-image: url(./assets/check.png);
}

.li-edit{
    padding-left: 10px;
    top: 0;
}

.row.col-sm-3{
    padding: 10px;
}

#question{
    margin: 10vh;
    padding-top: 20px;
}

#bottom-page{
    margin: 10vh;
    padding-top: 20px;
}

.container-style{
    align-self: center;
}

.carousel-inner{
    background-color: #F1F3FF; 
    height: 50vh;
    justify-content: center;
    padding-top: 75px;
}


.carousel-image{
    width: 10vw;
}

.carousel-person{
    text-align: end;
}

.car-img{
    position: absolute; 
    right: 0; 
    bottom: 0; 
    width: 100%;
}

.car-div{
    position: relative;
}

#why-us{
    padding-top: 30px;
}

.why{
    padding: 20px;
}

.testi{
    padding-top:50px;
    padding-bottom:20px;
    justify-content: center;
    text-align: center;
}

@media (max-width: 992px){
    #greeting{
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 100px;
        padding-bottom: 100px;
        background-color: #F1F3FF;
    }

    .car-img{
        position: static; 
        right: 0; 
        bottom: 0; 
        width: 100%;
    }
    

    #why-us{
        justify-content: center;
        text-align: center;
        padding-top: 10px;
    }

    .navbar-style{
        align-items: flex-start;
    }

    .card-style{
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .carousel-person{
        text-align: center;
    }

    .carousel-inner{
        background-color: #F1F3FF; 
        justify-content: center; 
        height: 50vh;
        align-content: center;
        padding-top: 20px;
    }

    .carousel-content{
        margin: 5px;
    }

    .carousel-image{
        width: 20vw;
    }

    #question{
        margin: 5vh;
        padding-top: 10px;
    }
    
    #bottom-page{
        margin: 5vh;
        padding-top: 10px;
    }

    #sewa-lokasi{
        padding: 2vh;
        margin: 5vh;
        height: 20rem;
        background-color: #0D28A6;
    }

    .nav-item{
        padding-left: 15px;
    }

}